PROXPANEL_IMAGE=itechlab/proxpanel:1.7.2-beta.9.1
PROXPANEL_PORT=8080
# Reverse proxies autorisés à fournir X-Forwarded-For/Proto/Host.
# IP exactes et CIDR IPv4 séparés par des virgules. Loopback est toujours autorisé.
PROXPANEL_TRUSTED_PROXIES=
